{% extends 'base.html.twig' %}

{% block title %}Projects index{% endblock %}

{% block body %}
    <h1>Projects index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>ID Groupe</th>
            <th>Actions</th>
        </tr>
        </thead>
        <tbody>
        {% for project in projects %}
            <tr>
                <td>{{ project.id }}</td>
                <td><a href="{{ path('project_show', {'id':project.id}) }}">{{ project.p_name }}</a></td>
                <td>{{ project.g_name }}</td>
                <td>
                    <a class="btn" href="{{ path('projects_edit', {'id': project.id}) }}">edit</a>
                    {{ include('projects/_delete_form.html.twig') }}
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('projects_new') }}">Create new</a>
{% endblock %}
